/*------------------------------------>Site:------------------>
---------------------------->Terra Navis Admin Section-------------------->
-------------------------------------------------------------------->*/



/*-------------------------------------------------------------------->
------------------------------>TABLE OF CONTENTS---------------->
-------------------------------------------------------------------->

use a ` before the name when searching for a section to jump directly to the beginning of it

---------------> Root/Universal Styles
----------------------> errors & notices
----------------------> buttons
----------------------> link generator
----------------------> badges

---------------> Login && Register

---------------> Homepage

---------------> Profile

---------------> Newsfeed

---------------> All Emails & All Articles & New Article & New Email
----------------------> New Email & Edit Email

---------------> Delete Article

---------------> View

---------------> Printed Styles

--------------------------------------------------------------->END Contents*/

/*-------------------------------------------------------------------->
------------------------------>'Color Palette---------------->
-------------------------------------------------------------------->*/

:root {
    --aqua: #00A2B8;
    --brightAqua: #00b7d0;
    --brown: #563a0e;
    --darkReddish: #9a1d2d;
    --dmodeBlack: #101520;
    --green: #4dc312;
    --grey: #3b3535;
    --greyBG: #353131;
    --lmodeBoxShadow: #b7b7b7;
    --marigold: #f9cc0c;
    --reddish: #e03b51;
    --text-grey: #ACACAC;
    --tanGold: #c79e63;
}


:root .lmode {--magenta: #d2006b;}
:root .dmode {
    --aqua: #af936a;
    --brightAqua: #c79e63;
    --magenta: #df3c50;
    /*--marigold: #75c8ff;*/
    /*--tanGold: #a9c9de;*/
}

/*--------------------------------------------------------------->END Color Palette*/

/*----------------------------------------------------------------------->
`Root/Universal Styles
------------------------------------------------------------------------->*/

html {
    font-family: 'Muli', sans-serif;
    font-size:16px;
    height: 100%;
}

body{
    height: 100%;
    position: relative;
}

    #pageWrapper{height: 100%;}
    .lmode {background-color: #ADBCBF;}
    .dmode {
        /*background-color: #20435a;*/
        background-color: #6d4b1d;  /*gold_redo*/
        /*background: linear-gradient(to right, #b96d81, #420c1b);*/

        color: #fff;
    }

section{
    height: 100%;

}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0;
}
/*h1 {font-size: 1.5em;}*/
h2 {font-size: 1.5em;}
h3 {font-size:  1.3rem;}
p {margin: 1rem 0;}
a {text-decoration: none;}
ul, ol {list-style-type: none;}
fieldset{border: 2px solid #fff;}



.hidden {
    position: absolute;
    top: -9000rem;
}

input.hidden {
    height: 1px;
}

.hiddenText {
    position: absolute;
    left: 1000rem;
}


.backBtn {
    background: var(--brightAqua);
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 2rem;
    left: 34.65rem;
    padding: .75rem;
    position: fixed;
    top: 2rem;
    transform: scale(-1, 1);
    z-index: 60;
}

    .backBtn:hover {
        background: #fff;
        color: var(--brightAqua);
    }

.allPage .backBtn {
    left: 8.5rem;
    top: 2rem;

}

.backShadow {box-shadow: 5px 15px 15px #3b3535;}
.backShadow_light {box-shadow: 5px 10px 10px #a9b5b7;}
.dmode .backShadow_light {
    /*box-shadow: 5px 10px 10px #091021;*/
    box-shadow: none;
    border: 5px inset #08090b;
}


.defaultPage {
    background-color: #fff;
    margin: 5% auto;
    padding: 2rem 0 3rem;
    width: 320px;
}

.defaultDiv {
    background: none;
    border-radius: 10rem;
    padding: 2rem 3rem 3rem;
}


.muted {
    color: rgba(0,0,0,.7);
}

.accLines {
    position: relative;
}

.accLines:before, .accLines:after {
    content: '';
    width: 100px;
    padding: 2px 50px;
    position: absolute;
    top: .5rem;
    border-bottom: 1px solid #9c9c9c;
}

    .accLines:before {
        left: 5rem;
    }

    .accLines:after {
        right: 5rem;
    }


/*maybe for loading screens?*/
`GRADIENT_HOVER_EFFECT:hover {
    background: linear-gradient(270deg, #00A2B8, #cf258d,#facd0e);
    background-size: 800% 800%;
    animation: AnimationName 6s ease-in;
}

@keyframes gradientBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.bold {font-weight: bold;}

.successHeading {
    color: var(--green);
    font-size: 1.6rem;
    text-align: center;
    margin-top: 3rem
}

.lmode .successHeading {color: var(--green);}
.dmode .successHeading {color: var(--green);}

.generalForm .returnToProfileBtn {
    margin-top: 1.5rem;
}

/*------------------- `errors & notices ----------------------------->*/
.text_error {
    color: var(--reddish) !important;
}

.formNotice{
    border-radius: 20px;
    padding: .6rem 1rem;
    text-align: center;
}


    .formNotice_Error {
        background-color: var(--reddish);
        color: #fff;
        cursor: pointer;
        font-size: 1.5rem;
        left: 50%;
        position: fixed;
        top: 10rem;
    }

        .formNotice_InlineError, .formNotice_InlineNotice {
            background-color: var(--reddish);
            color: #fff;
            margin: 0 auto 1rem;
        }

            .formNotice_InlineNotice {background-color: var(--brightAqua);}

        .dmode .formNotice_InlineError, .dmode .formNotice_InlineNotice {
            background-color: var(--reddish);
            color: #fff;
        }

            .dmode .formNotice_InlineNotice {background-color: var(--brightAqua);}

    .formNotice_Required {
        color: var(--aqua);
        font-size: .9rem;
        margin: -1rem auto .8rem;
    }

    .formNotice_success {
        background-color: #3da509;
        color: #f5ffe9;
        cursor: pointer;
        font-size: 1.5rem;
        left: 50%;
        position: absolute;
        top: 10rem;
    }

.errorPage {
    color: var(--reddish);
    height: 100vh;
    padding: 5rem;
    text-align: center;
}

    .errorPage.lmode { background: #fff;}
    .errorPage.dmode {background: var(--dmodeBlack);}

    .errorText {
        color: var(--dmodeBlack);
        margin: 1rem 0 1.5rem;
    }

        .errorText.dmode {color: #fff;}

    .errorBtnContainer {
        direction: flex;
        flex-direction: column;
    }

    .errorBtnContainer a {
        margin: 1rem auto;
        width: 9rem;
    }

    .errorBtnContainer a:hover {
        background: #e05c73;
    }

/*------------------- `buttons ----------------------------->*/

.adminBtn {
    background: var(--aqua);
    border-radius: 2rem;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin: .9rem auto 0;
    padding: .6rem 1rem;
    text-decoration: none;
}

    .lmode .adminBtn_accent:hover, .lmode .adminBtn_danger:hover {box-shadow: 0px 1.5px 2px var(--lmodeBoxShadow);}

.loginBtn, .registerBtn, .adminBtn_submit {
    background: linear-gradient(345deg, rgba(77,195,18,1) 0%, rgba(52,130,15,1) 100%);
    width: 6.5rem;
}

.dmode .registerBtn, .dmode .adminBtn_submit {
    background: none;
    border: 2px solid var(--green);
    color: var(--green);
}

.dmode .registerBtn:hover, .dmode .adminBtn_submit:hover {
    background: none;
    border-color: #fff;
    color: #fff;
}

.adminBtn_accent {
    background: linear-gradient(340deg, rgba(38,222,247,1) 0%, rgba(0,141,161,1) 100%);
    display: block;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 4rem;
    z-index: 10;
}

    .lmode .adminBtn_accent, .lmode .readEmailBtn, .lmode .editBtn {box-shadow: 1px 3px 2px var(--lmodeBoxShadow);}

.adminBtn_aqua {
    background: var(--brightAqua);
    display: block;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 4rem;
    z-index: 10;
}

    .lmode .adminBtn_subtle {background: linear-gradient(330deg, rgb(74, 68, 68) 26%, rgba(33,19,19,1) 100%);}


.adminBtn_subtle {
    display: block;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 4rem;
    z-index: 10;
}

.adminBtn_danger {background: linear-gradient(340deg, rgba(231,66,88,1) 0%, rgba(147,23,39,1) 100%);}
.adminBtn_accent_alt {background: var(--magenta);}

    .lmode .adminBtn_danger {box-shadow: 1px 3px 2px var(--lmodeBoxShadow);}
    .lmode .adminBtn_subtle {background: linear-gradient(330deg, rgb(74, 68, 68) 26%, rgba(33,19,19,1) 100%);}

    .dmode .adminBtn_subtle,
    .dmode .adminBtn_aqua,
    .dmode .adminBtn_accent,
    .dmode .adminBtn_danger
     {
        background: none;
        border: 2px solid #bbb;
        color: #bbb;
    }

    .dmode .adminBtn_danger {
        border-color: var(--reddish);
        color: var(--reddish);    }

    .dmode .adminBtn_aqua, .dmode .adminBtn_accent {
        border-color: var(--tanGold);
        color: var(--tanGold);
    }

    .dmode .adminBtn_subtle:hover {
        background: none;
        border-color: #fff;
        color: #fff;
    }
    .lmode .adminBtn_subtle:hover,
    .lmode .adminBtn_accent:hover,
    .lmode .adminBtn_danger:hover,
    .lmode .adminBtn_aqua:hover,
    .registerBtn:hover
        {
        background: linear-gradient(330deg, rgb(236, 51, 164) 0%, rgb(125, 0, 78) 100%);
    }

    .dmode .adminBtn_danger:hover,
    .dmode .adminBtn_aqua:hover,
    .dmode .adminBtn_accent:hover
    {
        background:none;
        border-color: #fff;
        color: #fff;
    }


    .dmode .adminBtn_subtle:hover,
    .dmode .adminBtn_subtle:hover{background: none;}

.adminBtn_switch {
    background: #f0f2f5;
    height: 1rem;
    width: 2.5rem;
}



.contentTypeBtn {
    background: var(--marigold);
    border: none;
    border-radius: 2rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin: .5rem;
    padding: 1rem 1.2rem .8rem 3rem;
    position: relative;
    min-width: 5rem;
    max-width: 10rem;
    transition: height .2s, background .2s;
    text-align: center;
    white-space: nowrap
}
    .lmode .contentTypeBtn {box-shadow: 1px 3px 2px var(--lmodeBoxShadow);}

    .contentTypeBtn:hover {
        background: #fff;
        color: var(--marigold);
    }

        .lmode .contentTypeBtn:hover {box-shadow: 0px 1.5px 2px var(--lmodeBoxShadow);}
        .contentTypeBtn:hover:before {
            color: var(--marigold);
        }

    .contentTypeBtn:before {
        color: #fff;
        content:'+';
        font-size: 3rem;
        left: 11px;
        line-height: 1px;
        position: absolute;
        top: 20px;
    }

    .contentTypeList .contentTypeBtn {
        background: var(--magenta);
    }

        .contentTypeList .contentTypeBtn:hover {
            background: #fff;
            color: var(--magenta);
        }

        .contentTypeList .contentTypeBtn:hover:before {
            color: var(--magenta);
        }

    .contentTypes > .contentTypeBtn:last-of-type {
        background: var(--brightAqua);
    }

        .contentTypes > .contentTypeBtn:last-of-type:hover {
            background: #fff;
            color: var(--brightAqua);
        }

        .contentTypes > .contentTypeBtn:last-of-type:hover:before {
            color: var(--brightAqua);
        }


/*------------------- `link generator ----------------------------->*/
.linkGenBox {
    background: var(--brightAqua);
    border: 4px solid #F0F0F0;
    border-radius: 2rem;
    bottom: 5rem;
    color: #fff;
    padding: 1rem 3rem 1rem 1.5rem;
    position: fixed;
    right: -50rem;
    transition: right .7s;
    width: 40rem;
    z-index: 500;
}

    .linkGenBox_show {
        right: -2rem;
    }

    .dmode .linkGenBox {
        background: #000000;
        border: none;
        color: var(--tanGold);
    }

.linkGenHeading {
    font-size: 1.4rem;
    margin: .7rem 0 1.4rem;
}

.linkLabel {
    margin-top: 1.8rem;
    border-bottom: 1px solid #fff;
    width: 5rem;
}

    .dmode .linkLabel {border-color: var(--brown);}

.linkGenInput {
    border: 2px solid #fff;
    border-radius: 2rem;
    padding: .5rem;
    margin-left: .2rem;
    max-width: 20rem;
    min-width: 10rem;
}

    .linkGenInput:focus {
        border-color: var(--marigold);
        outline: none;
    }

    .dmode .linkGenInput:focus {border-color: var(--marigold);}

    .dmode .linkGenBox, .dmode .linkGenInput {
        border-color: var(--brown);
    }

.linkGenBtn {
    background-color: var(--magenta);
    box-shadow: 2px 2px 0px #006775;
    margin: 0;
    transition: background .1s;
    width: 7rem;
}
    .dmode .linkGenBtn {
        background-color: var(--marigold);
        border: none;
        box-shadow: 2px 2px 0px #8c6227;
        color: #fff;
    }

    .linkGenBox .linkGenBtn:hover, .linkGenBox .linkGenBtn:focus {
        background: #fff;
        color: var(--magenta);
        box-shadow: 1px 1px 0px #006775;
    }

        .dmode .linkGenBox .linkGenBtn:hover, .dmode .linkGenBox .linkGenBtn:focus {
            color: var(--marigold);
            box-shadow: 1px 1px 0px #8c6227;
        }

.linkGenCloseBtn {
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: bold;
    position: absolute;
    right: 4rem;
    top: 0;
    /*transform: scaleY(0.9);*/
}

.linkGenCloseBtn:hover {color: var(--marigold);}

.linkGen_accent {
    color: #ffdf56;
}

.linkGenHr {
    border-color: #fff;
    margin-left: -.2rem;
}

    .dmode .linkGenHr {border-color: var(--brown)}


.linkGenEmptyError {color: var(--reddish);}
    .dmode .linkGenEmptyError {color: var(--magenta);}

/*------------------- `badges ----------------------------->*/

.badge {
    background: var(--brightAqua);
    border-radius: 2rem;
    color: #fff;
    font-size: .9rem;
    padding: .6rem;
    position: absolute;
    right: 1rem;
    top: 0;
}

.badge_danger {background: var(--reddish);}

.badge_accent {background: var(--green);}



/*----------------------------------------------------------------------->
`Login && Register
------------------------------------------------------------------------->*/
.loginDiv {
    /*background: #fff;*/
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    margin-top: -2rem;
    max-width: 700px;
    min-width: 320px;
    width: 90%;
}

.registerDiv {
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 100%
}

.dmode .registerDiv {background: none;}

.allProfilePics {
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    margin: 1rem auto;
    width: 80%;
}

.profilePic {
    border: solid 1rem var(--grey);
    border-radius: 50%;
    height: 250px;
    margin: 1rem auto;
    width: 250px;
}

    .registerDiv .profilePic {
        height: 200px;
        width: 200px;
    }


.loginForm, .registerForm {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
}

.registerForm {transition: margin-top .6s ease-in-out;}

    .loginForm label, .registerForm label {
        font: bold 1.1rem 'Muli', sans-serif;
        margin: .9rem auto .5em;
    }

    .loginForm .createInput, .registerForm .createInput {
        background-color: #fff;
        /*border-color: #3b3535;*/
        border:2.5px outset var(--reddish);
        border-radius: 20px;
        margin: 0 auto 1rem;
        padding: .4rem;
        text-align: center;
        width: 250px;
    }

        .loginForm .createInput:valid, .registerForm .createInput:valid{
            border:2.5px inset #45ab50;
        }

        .loginForm .createInput:valid:focus, .registerForm .createInput:valid:focus{
            border:2.5px inset #45ab50;
        }

        .loginForm .createInput:invalid:focus, .registerForm .createInput:invalid:focus{
            border:2.5px inset var(--reddish);
        }

.createFormError,
.loginForm .createFormError,
.loginForm .createFormError:valid,
.registerForm .createFormError,
.registerForm .createFormError:valid
 {
    border: 2.5px outset var(--reddish);
}



.profilePicture {
    margin: 0 auto;
}

.choosePic {
    background: var(--grey);
    border-radius: 2rem;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin: -2rem auto 0;
    padding: 1rem;
    position: relative;
    text-align: center;
    width: 12rem;
    z-index: 50;
}

.thumbWrapper {
    position: relative;
}

.hiddenThumb {
    opacity: 0;
    position: relative;
    top: -1rem;
    margin: -10rem auto 0;
    z-index: -50;
}

.chooseThumbTable {margin: 1rem auto;}

.chooseThumbTable * {height: 1px;}

.chooseThumbTable_anim,  .updateThumbTable_anim {
    position: relative;
    top: 0;
    transition: top .5s ease-in-out, opacity .5s ease-in-out;
    opacity: 1;
    z-index: 2;
}

.chooseThumbTable_anim *,  .updateThumbTable_anim * {height: auto;}

.chooseThumb {
    border-radius: 50%;
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin: 0 .5rem;
}

a.registerReturnBtn, a.registerReturnBtn {
    margin: 1rem auto 0;
    width: 3.5rem;
}

/*----------------------------------------------------------------------->
END Login & Register
------------------------------------------------------------------------->*/

/*----------------------------------------------------------------------->
`Homepage
------------------------------------------------------------------------->*/

.adminHome {
    display: grid;
    grid-template-columns: 130px 450px auto;
    grid-template-areas: '. newsfeedContent adminMainContent';
    height: 100%;
}

    .adminHome_fullWidth {
        grid-template-areas: '. adminMainContent adminMainContent';
    }

.adminMC_Wrapper {
    background: #F0F0F0;
    grid-area: adminMainContent;
    position: relative;
    padding: 1rem;
}

    .lmode .adminMC_Wrapper {background-color: #F0F0F0;}
    .dmode .adminMC_Wrapper {background-color: var(--dmodeBlack);}

.adminMainContent {
    background-color: #fff;
    padding: 2rem 1rem 3rem;
}

    .adminHome_fullWidth .adminMainContent{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .lmode .adminMainContent {background-color: #fff;}
    .lmode .adminHome_fullWidth .adminMainContent {background: none;}
    .dmode .adminMainContent {background: none;}

.adminMenu {
    background: #fff;
    height: 100%;
    grid-area: adminMenu;
    position: fixed;
    top: 0;
    left: 0;
    width: 130px;
}

    .lmode .adminMenu {background-color: #fff;}
    .dmode .adminMenu {background-color: var(--dmodeBlack);}

.newsfeedContent {
    grid-area: newsfeedContent;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1rem;
    position: relative;
    width: 435px;
}

    .lmode .newsfeedContent {background: linear-gradient(90deg, rgba(0,0,0,0) 0%, #dfe4e8 3%, #dfe4e8 93.5%, rgba(0,0,0,0) 96%);}
    .dmode .newsfeedContent {
        /*background: linear-gradient(90deg, rgba(242,245,247,0) 0%, #f9fafa 2%, #546673 93.5%, rgba(242,245,247,0) 96%);*/
        background: linear-gradient(90deg, rgba(242,245,247,0) 0%, #ead0ac 2%, #7d5f34 93.5%, rgba(242,245,247,0) 96%);  /*gold_redo
       /*background: linear-gradient(90deg, rgba(247, 242, 244, 0) 0%, #eabdac 2%, #6b0c27 93.5%, rgba(247, 242, 244, 0) 96%);*/
       /*background: linear-gradient(90deg, rgba(247, 242, 244, 0) 0%, #eabdac 2%, #6b0c27);*/
   }



.profilePicThumbLink {
    margin: 1rem .8rem 1rem 1.35rem;
}
    .profilePicThumb {
        background: linear-gradient(330deg, rgba(255,209,16,1) 0%, rgba(223,180,0,1) 100%);
        border: none;
        border-radius: 50%;
        padding: .4rem;
        height: 75px;
        margin: 1rem auto;
        width: 75px;
    }

    .profilePicThumb:hover {
        background: linear-gradient(145deg, rgba(207,37,141,1) 0%, rgba(159,7,101,1) 100%);
    }

    .dmode .profilePicThumb:hover {
        background: var(--darkReddish);
    }

.menuLinks {
    margin: 1rem auto;
    padding: 0;
}

    .menuLinks a {
        margin: 1.5rem auto;
        padding: .6rem .5rem;
        width: 5.7rem;
    }

.menuLinks .homeBtn {
    margin: 1rem auto;
    width: 3.5rem;
}


.menuLinks .logoutBtn {
    margin: .7rem auto;
    padding: .6rem 1rem;
    width: 3.5rem;
}

.profilePicDiv {
    display: block;
        margin: 0 auto;
}
    .profilePicDiv .profilePic {
        background: linear-gradient(330deg, rgba(255,209,16,1) 0%, rgba(223,180,0,1) 100%);

        border: none;
        padding: 1rem;
        display: block;
        height: 200px;
        margin: 0 auto;
        width: 200px;
    }

    .dmode .profilePicDiv .profilePic {    background: linear-gradient(330deg, var(--marigold) 0%, #eaedee 100%);}

    .profileBtn {
        margin: -.7rem auto 0;

    }
        .lmode .profileBtn,  .lmode .changePicBtn {background: #facd0e;}
        .dmode .profileBtn, .dmode .changePicBtn  {
            background: var(--dmodeBlack);
            border-color: var(--marigold);
            color: var(--marigold);
        }
        .dmode .profileBtn:hover, .dmode .changePicBtn:hover  {background: var(--dmodeBlack);}
        /*.dmode .profileBtn:hover, .dmode .changePicBtn:hover {background: linear-gradient(330deg, var(--darkReddish) 0%, #4a0b13 100%); }*/


.mainLinks {
    display: flex;
    flex-direction: column;
}
    .mainLinks a {
        color: var(--aqua);
        font-size: 2.2rem;
        padding: 2rem ;
        margin: 1rem auto;
        text-align: center;
        text-decoration: none;
        width: 400px;
    }

    .mainLinks a:hover {
        color: var(--magenta);
    }


    .mainLinks a::before {
        content: '';
        width: 5px;
        height: 5px;
        margin-right: 1rem;
    }

    .mainLinks .allEmails::before {
        padding: 6px 36px;
        background: url(../imgs/allEmails.svg);
    }

    .mainLinks .allArticles::before {
        padding: 10px 35px;
        background: url(../imgs/allArticles.svg);
    }

    .mainLinks .newEmail::before {
        padding: 10px 40px;
        background: url(../imgs/newEmail.svg);
    }

    .mainLinks .newArticle::before {
        padding: 16px 42px;
        background: url(../imgs/newArticle.svg);
    }




/*----------------------------------------------------------------------->
END Homepage
------------------------------------------------------------------------->*/


/*----------------------------------------------------------------------->
`Profile
------------------------------------------------------------------------->*/

.changePicBtn {
    margin-top: -.7rem;
    width: 7.5rem;
}

/*.profileInfo {
    color: #9c9c9c;
    margin: 3rem auto 0;
    text-align: center;
}*/

.profileInfo, .adminControlsP {
   color: #9c9c9c;
   width: 400px;
   text-align: center;
   border-bottom: 1px solid #9c9c9c;
   line-height: 0.1em;
   margin: 3rem auto 20px;
   /*margin: 10px 0 20px; */
}

    .profileInfo:first-of-type {
        margin-top: 3rem;
        transition: margin-top .5s ease-in-out;
        width: 275px;
    }

    .profileInfo span, .adminControlsP span {padding:0 10px;}
    .lmode .profileInfo span, .lmode .adminControlsP span {background: #fff;}
    .dmode .profileInfo span, .dmode .adminControlsP span {background: var(--dmodeBlack);}
    .dmode .profileInfo, .dmode .adminControlsP {
        color: #b7ada2;
        border-color: #b7ada2;
    }

.pbtnDiv {
    display: flex;
    flex-direction: column;
    margin: 2rem auto 1rem;
}

.editInfoBtn, .changePwdBtn, .editAdminsBtn {
    display: inline-block;
    margin: .5rem auto;

}

.changePwdBtn {
    width: 9rem;
}

.adminControlsP {
    font: bold 1.2rem/.1em 'Muli', sans-serif;
    text-align: center;
    margin: 3rem auto 1rem;
}

.editAdminsBtn {
    width: 7rem;
}

hr {
    width: 300px;
    border-top: 1px solid #9c9c9c;
}

.dmode hr {border-color: var(--aqua);}

.saveChangesBtn {
    transition: opacity .3s, margin-top .3s;
    width: 9rem;
}

.saveChangesBtn_hidden {
    position: relative;
    margin-top: -2rem;
    opacity: 0;
}

.lightModeBtn {
    background: linear-gradient(135deg, var(--marigold) 0%, #fff084 100%);
    border: 2px solid #fff;
    margin-bottom: .5rem;
    position: relative;
}

    .dmode .lightModeBtn {border-color: var(--greyBG);}

.lightModeBtn_span {
    background: url(../imgs/sun_v2.svg) no-repeat;
    background-size: 28px;
    height: 28px;
    right: 11px;
    padding: 14px;
    position: absolute;
    top: 4px;
    transition: right .5s ease-in-out;
    width: 28px;
}

.lightModeBtn_d .lightModeBtn_span {
    background: url(../imgs/moon.svg) no-repeat;
    background-size: 28px;
    right: -21px;
}

.lightModeBtn_d {
    background: linear-gradient(270deg, #1a0a4a, #1f21dc, #facd0e, #fff084);
    background-position: 100% 0%;
    background-size: 400% 400%;
    animation: gradientBackground_ltod .5s ease-out;
}

.lightModeBtn_l {
    background: linear-gradient(270deg, #1a0a4a, #1f21dc, #facd0e, #fff084);
    background-position: 0% 0%;
    background-size: 400% 400%;
    animation: gradientBackground_dtol .5s ease-out;
}

@keyframes gradientBackground_ltod {
    0% {background-position:0% 50%}
    100% {
        background-position:100% 50%;
        linear-gradient(135deg, #1a0a4a 0%, #1f21dc 100%);
    }
}

@keyframes gradientBackground_dtol {
    0% {background-position:100% 50%}
    100% {
        background-position:0% 50%;
        linear-gradient(135deg, #facd0e 0%, #fff084 100%);
    }
}

.backToProfile {
    margin-top: 1rem;
    width: 8rem;
}

.deleteAdminText {
    font-size: 1.1rem;
    margin: 1rem auto;
}

.generalForm .agreeToDelete_label {
    border: none;
    margin: 0 auto ;
    padding-right: 2.5rem;
    position: relative;
    width: 25rem;
}

.generalForm .agreeToDelete_input {
    margin-bottom: .4rem;
    position: absolute;
    top: .6rem;
    right: 1rem;
}

.generalForm hr {
    margin: 1.5rem auto 1rem;
}

.verifyError {margin-top: 1rem;}


/*----------------------------------------------------------------------->
END Profile
------------------------------------------------------------------------->*/


/*----------------------------------------------------------------------->
`Newsfeed
------------------------------------------------------------------------->*/


h2.newsfeedHeading {
    position: fixed;
    display: block;
    padding: 1rem;
    width: 418px;
    margin-top: 0;
    margin-left: -1rem;
    text-align: center;
    top: 0;
    z-index: 50;
}


.newsfeedHeading {padding-right: 3rem;}
.lmode h2.newsfeedHeading {
    color: #101520;
    background: linear-gradient(90deg, #d1d9da 0%, #ffffff 3%, #ffffff 97%, #d1d9da 100%)
}

.dmode h2.newsfeedHeading {
    color: #fff;
    background: #101520;
    background: linear-gradient(90deg, #060606 0%, #101520  3%, #101520  97%, #060606 100%);
}

.nwBox {
    /*height: 100%;*/
    padding: 2rem;
    position: relative;
    margin: 2rem .5rem;
    max-width: 420px;
}

.allPage .nwBox {
    max-width: none;
    width: 445px;
}

.newsfeedContent

    .nwBox:first-of-type {margin-top: 4rem;}
    .adminHome_fullWidth .nwBox:first-of-type {margin-top: 2rem;}
.lmode .nwBox {background: #fff;}
.dmode .nwBox {background: var(--dmodeBlack);}
.dmode .allPage .nwBox {background: var(--greyBG);}

.nwBox .btnBox {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}


.nwBox .editBtn, .nwBox .deleteBtn {
    margin: 0 auto;
}

.nwBox .adminBtn {
    margin-left: 0;
    margin-right: 10px;
    text-align: center;
    width: 100%;
}


.nwBox .readEmailBtn {
    margin-top: 0;
    width: 100px;
/*    margin: 0 38px 0 2rem;
    text-align: center;*/
}



.nwBox .editBtn {
    width: 6rem;
    /*width: 210px;*/
}
.nwBox .deleteBtn {
    width: 7.5rem;
    /*width: 235px;*/
}

.nwBox .viewBtn {
    width: 7.5rem;
    /*width: 200px;*/
}

.nwBox .dateInfo {color: var(--brightAqua);}

.lmode .nwBox .dateInfo span {color: var(--dmodeBlack);}
.dmode .nwBox .dateInfo span {color: #fff;}

/*----------------------------------------------------------------------->
END Newsfeed
------------------------------------------------------------------------->*/


/*----------------------------------------------------------------------->
`All Emails & All Articles & New Article & New Email
------------------------------------------------------------------------->*/

.newMedia {
    padding: 1rem 2rem;
}

.adminHeading {
    color: var(--brightAqua);
    font-size: 2rem;
    font-weight: lighter;
    margin: 1.5rem 0 1rem;
}

.generalForm {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    padding: 1rem 2rem ;
}

.editProfileForm input {
    text-align: center;
}


    .generalForm .createInput, .generalForm select, .generalForm textarea {
        border: 2px solid var(--aqua);
        border-radius: 2rem;
        color: #000;
        display: block;
        padding: .5rem 1rem;
        margin: .5rem auto 1rem;
        max-width: 32rem;
        min-width: 28rem;
        width: 100%;
    }

    .generalForm select {width: 25rem;}
    .generalForm select option {color: #000;}

    .generalForm .textareaInput {
        display: block;
        color: #000;
        font: lighter 1rem/1.5 'Muli', sans-serif;
        height: 10rem;
        padding: 1.5rem;
    }

.newMediaHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cornerLinks {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-top: 1.5rem;
}

    .cornerLinks a {
        margin: 0 0 0 2rem;
        text-align: center;
        width: 8.5rem;
    }

    /*.cornerLinks a:last-of-type {width: 8rem;}*/
    .newPage .cornerLinks a:last-of-type {width: 5.5rem;}

    #templateMsgBtn {
        width: 12rem;
    }

.contentTypes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 2rem 4rem;
    position: relative;
}

.newHr {
    margin: 2.5rem auto 2rem;
}

#publishBtn, #sendEmailBtn, #previewEmailBtn {
    font-size: 1.5rem;
    margin-top: 2rem;
    width: 12.5rem;
}

#publishBtn {width: 12.5rem;}
#sendEmailBtn {width: 10rem;}
#previewEmailBtn {width: 13rem;}

.contentTypeList_show {
    margin-bottom: 1rem;
    max-height: 17rem;
}

    .listContentTypeList_show {max-height: 7.5rem;}
    .headerContentTypeList_show {max-height: 17rem;}

.contentTypeList_show > .contentTypeBtn {
    border-radius: 1rem;
    height: 240px;
    transition: all .3s;
}
    .contentTypeList_show > .headerBtn {height: 240px;}
    .contentTypeList_show > .listBtn {height: 140px;}

.showList {
    position: relative;
    margin: 0;
    width: 8.5rem;
    left: 14px;
    padding: .5rem 0;
    transition: all .2s;
}
    .headerBtn + .showList {top: -14.5rem;}
    .listBtn + .showList {top: -8.7rem;}

    .showList li:first-of-type {border-radius: 1rem 1rem 0 0;}
    .showList li:last-of-type {border-radius: 0 0 1rem 1rem;}
    .showList li {
        color: #fff;
        cursor: pointer;
        padding: 1rem .5rem;
        text-align: center;
    }

        .listBtn + .showList li p, .listBtn + .showList li {
            padding: .1rem;
        }

    .showList li:hover {
        background: rgba(255, 255, 255, .2);
        color: var(--marigold)
    }

.contentTypeList_show .contentTypeBtn:hover {
    background: var(--magenta);
    color: #fff;
}

.contentTypeList_show .contentTypeBtn:hover:before {color: #fff;}

.contentTypes {
    transition: all .5s;
}


.generalForm .contentInput, .generalForm .ol , .generalForm .ul  {
    margin-bottom: 2rem;
}

.generalForm label,
.newMediaForm label, .newContent label,
.verifyPwdForm label, .verifyPwdForm label,
.editProfileForm label, .newContent label {
    border-bottom: 1px solid var(--aqua);
    color: var(--aqua);
    display: block;
    font-size: 1.2rem;
    margin: 1rem auto 0;
    padding: .5rem .5rem 0;
    position: relative;
    text-align: center;
    width: 10rem;
}

/*fieldset*/
.generalForm fieldset {
    border-color: var(--brightAqua);
    border-radius: 2rem;
    padding: .5rem 1rem 4rem;
    position: relative;
    margin: .5rem auto 1rem;
    max-width: 34rem;
    min-width: 30rem;
    width: 100%;
}

.newMediaForm legend,
.verifyPwdForm legend,
.generalForm legend {
    border: 1px solid var(--brightAqua);
    border-radius: 1rem;
    color: var(--brightAqua);
    font-size: 1.2rem;
    margin: 1rem auto 0;
    padding: 5px;
    text-align: center;
    width: 10rem;
}


.addToListBtn {
    background: var(--magenta);
    border-radius: 50%;
    bottom: 1rem;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 3rem;
    font-weight: bold;
    height: 3rem;
    line-height: 40px;
    margin: 0;
    position: absolute;
    right: 1rem;
    text-align: center;
    transition: .2s all;
    width: 3rem;
    z-index: 5;
}

.addToListBtn:hover  {
    background: #fff;
    border-radius: 2rem;
    color: var(--magenta);
}


.newContent .listItemLabel {
    display: inline-block;
    margin-left: -.5rem;
    margin-top: 1rem;
    width: 7rem;
}

.newMediaForm .uploadImgBtn,
.verifyPwdForm .uploadImgBtn,
.editProfileForm .uploadImgBtn {
    border: none;
    color: #fff;
    margin: .5rem;
    padding: .8rem 1.2rem .8rem 3rem;
    width: 7rem;
}



    /*----------------------------------------------------------------------->
    New Email & Edit Email
    ------------------------------------------------------------------------->*/

    .newMediaForm textarea.contentInput, .newMediaForm .emailInput,
    .lmode .generalForm textarea,
    .dmode .generalForm textarea,
    .verifyPwdForm textarea.contentInput, .verifyPwdForm .emailInput,
    .editProfileForm textarea.contentInput {
        max-width: 40rem;
        min-width: 28rem;
    }

    .newMediaForm textarea.contentInput, .newMediaForm textarea.emailInput,
    .lmode .generalForm textarea,
    .dmode .generalForm textarea,
    .verifyPwdForm textarea.contentInput, .verifyPwdForm textarea.emailInput,
    .editProfileForm textarea.contentInput, .editProfileForm textarea.emailInput {
        height: 14rem;
    }

    .linkBtn_email {
        margin: 1rem auto;
    }



    .cornerLinks .editEmailLink {
        width: 5rem;
    }


    .editEmailPage .linkGeneratorBtn {
        display: block;
        width: 5rem;
    }

    .leaveWarning {
        background: #fff;
        color: var(--dmodeBlack);
        margin-left: -15rem;
        padding: 2rem;
        position: absolute;
        right: 50%;
        width: 30rem;
    }

        .dmode .leaveWarning {
            background: var(--dmodeBlack);
            color: #fff;
        }

        .leaveWarning p {
        /*margin-bottom: 2.5rem;*/
    }

    .leaveWarning a {
        display: inline-block;
        margin: 1rem 1.5rem 1rem 0;
        text-align: center;
        width: 10rem;
    }

    /*----------------------------------------------------------------------->
    END New Email
    ------------------------------------------------------------------------->*/


.imgsNotice {
    bottom: -1.5rem;
    color: var(--aqua);
    position: absolute;
}

.autoImgNotice {
    margin: 1rem;
    text-align: center;
    width: 100%;
}

.imgBox {
    margin: 0 auto;
}

    .imgBox .showNewImg {
        border: .5rem solid var(--brightAqua);
        border-radius: 4px;
        margin: 1rem auto;
        width: 600px;
    }


.elementDeleteBtn {
    color: rgba(0,0,0,0);
    cursor: pointer;
    display: inline-block;
    font-size: .1rem;
    height: 1.5rem;
    position: absolute;
    overflow: hidden;
    right: -18rem;
    top: -1rem;
}

/*.elementDeleteBtn:before {
    background: var(--reddish);
    border-radius: 50%;
    color: #fff;
    content: 'x';
    cursor: pointer;
    font-size: 1rem;
    transform: scaleX(1.1);
    line-height: 1.2;
    left: -.65rem;
    position: absolute;
    top: 0px;
    width: 1.2rem;
}
*/

.elementDeleteBtn:before {
    color: var(--reddish);
    content: 'x';
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    transform: scaleX(1.1);
}


/*----------------------------------------------------------------------->
END All Emails & All Articles & New Article & New Email
------------------------------------------------------------------------->*/




/*----------------------------------------------------------------------->
Delete Article
------------------------------------------------------------------------->*/

.deletePage {
    margin: 4rem auto 1rem;
    width: 70%;
}

.deletePage h2 {
    color: var(--darkReddish);
}

.deletePage .deleteArticleBtn {
    margin: 0;
    text-align: center;
}

.deletePage .cancelBtn {
    display: inline-block;
    margin: 0 1.5rem;
}

.deletePage .btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1.2rem 0;
}

.deleteTable th, td {
    padding: .5rem .3rem;
}

/*----------------------------------------------------------------------->
END Delete Article
------------------------------------------------------------------------->*/


/*----------------------------------------------------------------------->
`Printed & View Page Styles
------------------------------------------------------------------------->*/

.articleContent {
    padding: 0 1rem;
}

.printedElement {
    line-height: 2;
}

.viewImgBox {
    display: flex;
    height: 520px;
    flex-direction: column;
    float: left;
    position: relative;
    width: 700px;
}

.viewImg {
    border-radius: 1rem;
    margin: 0 auto 2rem;
}

.printedCaption {
    bottom: 0;
    display: inline-block;
    float: left;
    left: 2rem;
    margin: 0 0 2.3rem;
    padding: 1rem 3.7rem 1.5rem 4rem;
    position: absolute;
    width: 541px;
}

    .printedCaption:after {
        bottom: 0;
        content: '';
        left: 3.4rem;
        padding: 1px 265px;
        position: absolute;
        background: var(--brightAqua);
    }


.viewPage .printedArticle a, .viewPage .articleFooter a {
    border-radius: 2rem;
    color: var(--brightAqua);
    padding: 0 .25rem;
    position: relative;
    /*text-decoration: underline;*/
    transition: color .5s;
}

    .viewPage .printedArticle a:before, .viewPage .articleFooter a:before {
        background: var(--green);
        bottom: -1px;
        content: '';
        left: 0;
        padding: 1px 0;
        position: absolute;
        transition: padding .5s;
    }

        .viewPage .articleFooter a:hover:before, .viewPage .printedArticle a:hover:before {
            padding: 1px 50.5%;
        }

    .viewPage .printedArticle a:hover, .viewPage .articleFooter a:hover {
        color: var(--green);
    }


/*headings and footer*/
.printedHeading {
    margin: 2rem .2rem 0;
}

.articleNameHeading {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.categoryHeading {
    color: var(--brightAqua);
    font-weight: normal;
    margin-bottom: 3rem;
    text-align: center;
}

.articleFooter {
    margin: 1rem .5rem;
}

.articleFooter p {
    text-align: right;
}

.articleFooter a {
    color: var(--brightAqua)
}



/*content*/
.printedP {
    margin: 0rem 1rem .5rem;
    padding: 1rem;
}

.printedElement a {
    color: var(--magenta);
}

    .printedElement a:hover {
        color: var(--brightAqua)
    }

.previewEmailBox h3.adminHeading {
    font-size: 1.7rem;
}

.newMediaHeading .cornerLinks .seeAll {
    width: 7.5rem;
}

.previewEmailBox {
    padding: 0 2rem;
}

.previewEmailBox .adminHeading {
    font-size: 1.8rem
}

.emailSubject {
    color: var(--dmodeBlack);
    padding-left: 2rem;
    margin-bottom: 3rem;
}
    .dmode .emailSubject {color: #fff;}

.emailMsg {
    font-size: 1.1rem;
    padding: 0 2rem;
}

.emailMsg a, .newsfeedDescription a {
    color: var(--magenta);
}

    .emailMsg a:hover, .newsfeedDescription a:hover  {
        color: var(--brightAqua)
    }


.previewTable {
    border-bottom: 2px solid var(--aqua);
    border-top: 2px solid var(--aqua);
    padding: .5rem 0;
    margin: 2.5rem 0 3.5rem;
}

    .previewTable th, td {
        font-weight: lighter;
        padding: 1rem 1.5rem;
    }

    .previewTable th:first-of-type, .previewTable td:first-of-type {
        padding-left: 0

    }


    .previewTable th {
        font-size: 1.2rem;
        color: var(--aqua);
    }

    .previewTable td {
        font-size: 1rem;
    }


.printedOl, .printedUl {
    margin: 2.5rem 1rem;
}

.printedOl {
    list-style-type: decimal;
}

.printedOl li {
    list-style-type: decimal;
    margin: .8rem 0 .8rem 1.5rem;
    padding-left: .5rem;
}

.printedUl li {
    background-image: url("../imgs/leaf_icon.png");
    background-repeat: no-repeat;
    background-position: 0 ;
    background-size: 20px;
    list-style: none;
    margin: .8rem 0;
    padding-left: 2rem;
}

.printedHr {
    margin-left: .5rem;
}

.returnToHomeBtn {
    font-size: 1.2rem;
    width: 9.5rem;
}




/*----------------------------------------------------------------------->
END Printed Styles
------------------------------------------------------------------------->*/
