/*===============   Page Information   ================
Website Name: Terra Navis Living
Website URL: terranavisliving.noshinr.com
Website Author: Francis Tuttle Web Development BPA Team 2019-2020
Author's URL: http://ftclass.com

==================   COLOR GUIDE   ==================
Brown ----------------------- rgb(77, 53, 28)              #614527
Light Brown ---------------- rgb(220, 207, 192)        #e3d8cc
Dark Blue ------------------ rgb(16, 47, 84)               #0f3e66
Light Blue ------------------ rgb(214, 219, 224)         #dee2e6
Dark Green ---------------- rgb(98, 94, 43)              #75713c
Light Green ---------------- rgb(216, 219, 185)        #dfe2c6
Very Light Green --------- rgb(228, 228, 220)        #e9e9e3
Dark Red ------------------- rgb(189, 71, 42)            #ce5e3a
Light Red ------------------- rgb(246, 228, 224)        #f9eae6

===============   TABLE OF CONTENTS   ===============
1. CSS Resets & Fonts
2. Global Styles
3. Header & Nav Styles
4. Main Body Content
5. Form Styles
6. Footer Content
7. @Media Queries
****************************************************/

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
1. CSS Resets & Fonts
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
@font-face {
    font-family: 'cabin';
    src: url('../fonts/cabin-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'cabinbold';
  src: url('../fonts/cabin-bold.otf') format('opentype');
  font-weight: 800;
  font-style: 800;
}
@font-face {
  font-family: 'ptsans';
  src: url('../fonts/ptsans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ptsans-italic';
  src: url('../fonts/ptsans-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  font-family: 'ptsans', sans-serif;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,
textarea,pre,iframe,div,form,fieldset,hr,h1,h2,h3,h4,h5,h6,button,
input,select,textarea {
    margin: 0;
    padding: 0;
}
* {
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
}
ul, li, a {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
html {box-sizing: border-box;}
*,*:before,*:after {box-sizing: inherit;}
iframe {border: 0;} */
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
2. Global Styles
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
html {
  cursor: default;
  font-size: 16px;
  scroll-behavior:smooth;
}
:root {
  --brown: #614527;
  --almond: #e3d8cc;
  --oceanBlue: #0f3e66;
  --skyBlue: #dee2e6;
  --oliveGreen: #75713c;
  --softGreen: #dfe2c6;
  --paleGreen: #e9e9e3;
  --dRed: #ce5e3a;
  --paleRed: #f9eae6;


  --page_bg: #fff;
  --dark_overlay: #000;
  --link_hover: blue;
  --link_active: yellow;
  --link_item_hover: orange;
  --btn_text: blue;
  --btn_bg: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);;
  --btn_bg_hover: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  --btn_text_visited: blue;
  --mybtn_text: black;

  --bucketOutline: #0f3e66;

  --mainNavLink: black;
}
body:not(.homeBody) {
  display: grid;
  grid-template-areas:
  'mainHeader mainContent'
  'footer footer';
  grid-template-columns: 1fr 4fr;
  grid-template-rows:  auto;
  position: relative;
}
#main-header.homePage {
  display: grid;
  grid-template-areas: '. img';
  grid-template-columns: 1fr 4fr;
  max-width: none;
}

#main-header {
  grid-area: mainHeader
  max-width: 250px;
  width: 100%;

}
h1 {

}
h2 {

}
div {

}

a {
  color: var(--oliveGreen);
  cursor: pointer;
}
a:hover {
  color: var(--dRed);
}
a:active {
  color: var(--dRed);
}
a:visted {
  color: var(--brown);
}
li a:hover {
  color: var(--dRed);
}
img {
  width: 100%;
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
3. Header & Nav Styles
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

#headerlogo {
grid-column: 1 / 3;
grid-row: 1 / 2;
}
.headerlogo {
  display: flex;
  justify-self: stretch;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
#main-nav {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  position: sticky;
}
.navLogoContainer {
  left: 0;
  position: fixed;
  top: 0;
  width: 20vw;
  z-index: 50;
}
#animatedbg {
  position: relative;
  grid-area: img;
  min-height: 70vh;
}
#animatedbg img {
  display: block;
  float: right;
  clear: both;
  grid-column: 3 / 10;
  grid-row: 1 / 3;
}
.animImg_bucket {
  border-bottom: 1rem solid var(--bucketOutline);
  border-left: 1rem solid var(--bucketOutline);
  border-radius: 6px;
  border-right: 1rem solid var(--bucketOutline);
  bottom: 0;
  box-shadow: 0 0 0 #293814;
  height: 100px;
  position: absolute;
  overflow: hidden;
  right: 95px;
  transition: box-shadow .2s;
  width: 75px;
  z-index: 2
}
  .animImg_bucket_bgFill {
    animation: fill_bucket 8s infinite ease-in-out;
    background: lightblue;
    bottom: 0;
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    transition: height 3s ease-in-out;
    width: 75px;
  }
.animImg_waterSpout {
  bottom: 0;
  position: absolute;
  right: 50px;
}
  .animImg_faucet {
    background: blue;
    bottom: 0;
    box-shadow: 0 0 0 #293814;
    height: 225px;
    position: absolute;
    right: 0;
    transition: box-shadow .2s;
    width: 25px;
  }
  .animImg_faucet:after {
    border: 24px solid blue;
    border-bottom: none;
    border-top-left-radius: 7em;
    border-top-right-radius: 7em;
    box-sizing: border-box;
    box-shadow: 0 0 0 #293814;
    content: "";
    height: 63px;
    margin-left: -7em;
    position: absolute;
    right: 0px;
    top: 0;
    transition: box-shadow .2s;
    width: 91px;
  }
  .animImg_faucet:before {
    animation: water_flow_bucket 8s infinite linear;
    background: lightblue;
    content: '';
    height: 0;
    left: -63px;
    position: absolute;
    top: 31px;
    width: 18px;
  }

.windmill {
  bottom: 0;
  box-shadow: 0 0 0 #293814;
  position: absolute;
  left: 20%;
  height: 300px;
  transition: box-shadow .25s;
  width: 200px;
  z-index: 3;
}
  .windmill_base {
    bottom: 0;
    height: 250px;
    position: absolute;
    right: 20%;
  }

  .windmill_nose {
    bottom: 181px;
    opacity: 0.8;
    position: absolute;
    right: 54%;
    width: 33px;
  }

  .windmill_wings {
    animation: rotate_wings 3s infinite linear;
    bottom: 50px;
    position: absolute;
    right: -27%;
    width: 350px;
    height: 350px;
  }

.windmill_2 {
  bottom: 13%;
  height: 220px;
  left: 35%;
  opacity: .8;
  width: 154px;
  z-index: 1;
}
  .windmill_2 .windmill_base {
    height: 200px;
  }
  .windmill_2 .windmill_nose {
    width: 24px;
    right: 63%;
    bottom: 137px;
  }
  .windmill_2 .windmill_wings {
    animation: rotate_wings 1.5s infinite linear;
    bottom: 56px;
    right: -10%;
    width: 250px;
    height: 250px;
  }



/*shadows*/
.waterFillingBucketContainer:hover .animImg_bucket, .waterFillingBucketContainer:hover .animImg_faucet  {
  box-shadow: 2px 2px 15px #293814;
}

 .waterFillingBucketContainer:hover .animImg_faucet:after {
  box-shadow: -2px -6px 8px #293814;
 }

 .windmillContainer:hover .windmill {
  box-shadow: 0 13px 8px -9px #293814;
 }

 /*animations*/

@keyframes fill_bucket {
  0% {height: 0;}
  15% {height: 0;}
  78% {height: 85px;}
  82% {height: 85px;}
  100% {height: 0;}
}

@keyframes water_flow_bucket {
  11% {
    top: 50;
    height: 5px;
  }
  15% {
    top: 40px;
    height: 170px;
  }
  78.5% {
    top: 40px;
    height: 170px;
    width: 10px;
    left: -58px;
  }
  80% {
    top: 150px;
    height: 10px;
    width: 2px;
    left: -54px;
  }
  100% {
    top: 220px;
    height: 0;
  }
}
@keyframes rotate_wings{
  from{transform:rotate(0)}
  to{transform:rotate(360deg)}
}


/*------------------------------>
Navigation*/
#main-nav a.currentPage {
  color: var(--dRed)
}
.navLogoContainer {
  overflow: hidden;
}
.main-nav, #main-nav {
  background: #fff;
  height: 100%;
}
#main-nav {margin-top: -1rem;}
.main-nav {
  animation: slide_in_nav .8s;
  animation-iteration-count: 1;
}
.main-nav a {
  color: var(--mainNavLink);
  display: block;
  font-family: 'cabin';
  font-size: 1.4rem;
  font-weight: bold;
  padding: .7rem 0 .7rem 2rem;
  margin: .7rem;
  margin-right: 2.8rem;
  text-align: right;
  text-decoration: none;
}
.main-nav li {
  display: block;
}
#headerlogo {
  background: #fff;
  padding: 2rem 0;
}
.headerlogo {
  background: #fff;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 0 auto;
  width: 80%;
}
.dropdownUl {
  animation: drop_menu 1.6s forwards;
  animation-iteration-count: 1;
  margin-top: -5rem;
  opacity: 0;
}
.dropdownUl a {
  font-size: 1rem;
  margin: .4rem;
  margin-right: 2rem;
  opacity: .8;
  transition: opacity: .3s;;
}
.li_underneath {
  animation: drop_menu_height 1.4s forwards;
  animation-iteration-count: 1;
  margin-top: -7rem;
}
.navListHeader a {
  position: relative;
}
.navListHeader:hover .dropdownUl li {
  opacity: .85;
  transition: opacity: .5s;;
}
.navListHeader>a:after {
  animation: arrow_turn 1.2s forwards;
  animation-iteration-count: 1;
  content: '›';
  display: inline-block;
  font-size: 2rem;
  position: absolute;
  right: -1.5rem;
  top: 17%;
  transform: rotate(-90deg);
}

@keyframes arrow_turn {
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes drop_menu {
  50% {
    margin-top: -5rem;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: .8;
  }
}
@keyframes drop_menu_height {
  45% {
    margin-top: -7rem;
  }
  100% {
    margin-top: .7rem;
  }
}
@keyframes slide_in_nav {
  from {
    margin-right: -5rem;
    opacity: 0;
  }
  to {
    margin-right: 0;
    opacity: 1;
  }
}


/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
4. Main Body Content
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
#mainContent {
  grid-area: mainContent;
}

.homeMainContent {
  display: grid;
  grid-template-areas:
  'heading_c heading_c heading_c heading_c heading_c heading_c heading_c heading_c'
  '. . sec1 sec1 sec1 sec1 sec1 sec1'
  'sec2 sec2 sec2 sec2 sec2 sec2 . .'
  '. . sec3 sec3 sec3 sec3 sec3 sec3';
  grid-template-columns: repeat(8, 1fr);
  margin: 0 0 0 20vw;
}
.mainHeading_Container {
  grid-area: heading_c;
}
.mainHeading_Container h1 {
  color: var(--dRed);
  font: 4.5rem/1 'cabin';
  margin: 8rem auto 2rem;
  text-align: center;
}
.sec-title {
  font-size: 3.8rem;
  font-family: 'cabin';
  color: var(--dRed);
  border-bottom: 6px solid #000;
}
#mainpg-sec1, #mainpg-sec2, #mainpg-sec3 {
  font: 1.4rem/1.8 'ptsans';
  margin: 5vh 0;
  position: relative;
  width: 100%;
}
  .sec-content {
    box-sizing: border-box;
    padding: 2.5rem 1.5rem;
  }
  .sec-content ul {
    padding: 2rem;
  }

#mainpg-sec1 h2:before, #mainpg-sec2 h2:before, #mainpg-sec2 h2:after, #mainpg-sec3 h2:before {
  background: var(--oceanBlue);
  bottom: .7rem;
  content: '';
  padding: 3px 50%;
  position: absolute;
  z-index: -1;
}
#mainpg-sec1 {
  border-bottom: 8px solid var(--oceanBlue);
  box-sizing: border-box;
  grid-area: sec1;
  /*padding-right: 1rem;*/
}
  #mainpg-sec1 ul li {
    list-style: square;
    /* margin: 1rem auto; */
    font-size: 1.1rem;
    line-height: 1.5;
  }
  #mainpg-sec1 h2 {
    border:none;
    position: relative;
    text-align: right;
    z-index: 2;
  }
    #mainpg-sec1 h2:before {
      padding: 3px 43.5%;
      right: 0;
    }
#mainpg-sec2 {
  grid-area: sec2;
}
  #mainpg-sec2 .sec-content {
    padding-left: 3rem;
  }
  #mainpg-sec2 h2 {
    border: none;
    position: relative;
  }
    #mainpg-sec2 h2:before {
      left: 0;
    }
    #mainpg-sec2 h2:after {
      left: 0;
      padding: 10rem 3px;
      top: 6.1rem;
    }
#mainpg-sec3 {
  grid-area: sec3;
  margin-right: 5rem;
}
  #mainpg-sec3 h2 {
    border: none;
    position: relative;
    text-align: center;
  }
    #mainpg-sec3 h2:before {
      padding: 4px 50.5%;
      left: -1%;
    }

.readMore_home {
  box-sizing: border-box;
  color: var(--dRed);
  display: block;
  margin-top: 2rem;
  margin-right: -1rem;
  padding-right: 2.5rem;
  position: relative;
  text-align: right;
  text-decoration: underline;
}

  .readMore_home:after {
    content: '>>';
    font-size: 1rem;
    right: 1rem;
    position: absolute;
    top: 16%;
  }
.readMore_home:hover {color: var(--oliveGreen);}

.title-img {
  border-radius: 50%;
  display: block;
  margin: 4rem auto 1.5rem;
  width: 11.5rem;
}
.page-title {
  display: block;
  font: 5.5rem/1 'cabinbold';
  padding: 1rem 2rem 3rem;
  text-align: center;
}
.multiContentPage section {
  font: 1rem/1.8 'ptsans';
  margin: 6rem auto;
  width: 80%;
}

.multiContentPage .sec-title {
  font: 3rem/1 'cabinbold';
  margin-bottom: 1rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}
.multiContentPage .sec-content {
  box-sizing: border-box;
  padding: 1rem 2rem;
}

.multiContentPage .sec-content p {
  margin: 0 0 1.5rem;
  text-indent: 40px;
}

.allArticlesPage {
  display: flex;
  flex-direction: column;
}

.indiArticle {
  border-bottom: 8px solid black;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1rem 2fr;
  grid-template-areas: 'img . info';
  padding: 1.5rem 2.5rem 2.5rem;
  position: relative;
}

  .indiArticle:last-of-type { border: none;}
.indiArticle-content {
  grid-area: info;
}
.indiArticle-img {
  grid-area: img;
  margin: auto;
  width: 400px;
}

.indiArticle-date, .indiArticle-category {
    font-size: 1rem;
    margin: 1rem 0;
}
.indiArticle-category {
  color: var(--dRed);
  font-weight: bold;
}
.indiArticle-title {
  color: var(--dRed);
  font: 2.5rem/1 'cabin';
  margin: 1rem 0 1.5rem;
}
.indiArticle-description {
  font-size: 1.2;
  line-height: 1.5;
}
.indiArticle .readMore {
  bottom: 1.5rem;
  color: var(--dRed);
  display: block;
  font-size: 1.3rem;
  position: absolute;
  right: 4vw;
  text-align: right;
}
  .indiArticle .readMore:hover {
    color: var(--oliveGreen);
  }
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
5. Form Styles
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
input, label, textarea {

}
input {

}
label {

}
select {

}
fieldset {

}
legend {

}
#button {
  display: block;
  margin: ;
  width: ;
  border-radius: ;
  border: ;
  color: var(--btn_text);
  font-family: ;
  font-size: ;
  font-weight: ;
  text-align: ;
  cursor: ;
  padding: ;
  background-color: ;
  text-decoration: ;
  box-shadow: ;
  text-shadow: ;
  background: var(--btn_bg);
}
.myButton {
  color: var(--mybtn_text);
  text-align: ;
  font-family: ;
  text-shadow: ;
}
#button:hover {
	background: var(--btn_bg_hover);
}
#button:visited {
  color: var(--btn_text_visited);
}
#button:active {
	position: relative;
	top: ;
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
6. Footer Content
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
footer {
  background-color: #765735;
  color: #e5e8d2;
  grid-area: footer;
  font-family: pt-sans, sans-serif;
  font-size: .8em;
  height: 300px;
  position: relative;
  width: 100%;
  z-index: 50;
}
#f-container {
  box-sizing: border-box;
  display: grid;
  grid-template-areas: 'team join contact';
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2.5rem 3rem;
}
#team-blurb, #join, #contact-info {
  margin: 0 auto;
  width: 90%;
  max-width: 19rem;
}

#team-blurb {
  grid-area: team;
}
  #team-blurb h2 {
    margin-bottom: 1rem;
    text-align: center;
  }
  #team-blurb p {
    font: .95rem/1.2 'ptsans';
  }
  .blurb-link {
    color: #e5e8d2;
    display: block;
    font: bold 1.05rem/1 'ptsans';
    margin-top: 1rem;
    text-align: left;
    text-decoration: underline;
  }

#join {
  grid-area: join;
}
  #join .h2 {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem auto;
    text-align: center;
  }

  .emailContainer {
    display: flex;
    justify-content: center;
    margin: 0 auto 1.5rem;
    position: relative;
  }
  #email, .h2 {
  }
  .newsButton {
    border: 3px solid var(--dRed);
    border-left: none;
    border-radius: 0 5px 5px 0;
    color: rgba(0,0,0,0);
    font-size: .1px;
    line-height: .1;
    margin: 0;
    padding: 10px 7px;
    position: relative;
    width: 42px;
  }

  .newsButton:after {
    color: var(--dRed);
    content: '✓';
    font-size: 2.5rem;
    font-weight: bold;
    position: absolute;
    left: 13%;
    top: 48%;
  }

  #email {
    border: 3px solid var(--dRed);
    border-radius: 7px 0 0 7px;
    font-size: 1rem;
    line-height: 1.5em;
    padding: .45rem 1rem;
    text-align: center;
  }

  .socialLinkIconContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

    .socialLinkIconContainer svg {
      fill: var(--almond);
      width: 55px;
    }

    svg.twitter_icon {
      fill: var(--dRed);
    }


#contact-info {
  grid-area: contact;
}

  #contact-info>div {
    display: grid;
    font: 1rem/1.15 'ptsans';
    grid-template-columns: 75px 1fr;
    margin: 2rem auto;
    max-width: 260px;
  }

  #contact-info div:first-of-type {
    margin-top: 0
  }

  #contact-info p {
    margin: auto 5px;
  }

  #contact-info svg {
    fill: var(--almond);
    margin: auto;
  }


footer h2, .h2 {
  font-family: cabin, sans-serif;
  font-size: 30px;
}

#copyright p {
  color: var(--almond);
  font: .83rem/1 'ptsans';
  position: absolute;
  left: 3px;
  bottom: 1px;
}

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
7. @Media Queries
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
@media screen and (min-width: 1400px) {
  #main-header {
    grid-template-columns: 250px 6fr;
  }
  #mainContent.homeMainContent {
    margin-left: 250px;
    width: calc(100% - 300px);
  }
  .navLogoContainer {
    width: 250px;
  }
}

@media screen and (max-width: 1150px) {

}

/* ===== TABLET ============================== */
@media screen and (max-width: 626px) {

}


/* ===== MOBILE ============================== */
@media screen and (max-width: 438px) {

}
